In [1]:
Create Database grocerystore;

In [3]:
use grocerystore

In [4]:
Create Table Supplier
(
    Supplier_id INT NOT NULL,
    Supplier_name varchar(100) NOT NULL UNIQUE,
    Supplier_phone INT NOT NULL,
    PRIMARY KEY(Supplier_id)
);

In [7]:
INSERT dbo.Supplier (Supplier_id,Supplier_name,Supplier_phone) 
VALUES (1,'sup1',0547891024),
       (2,'sup2',0315462978),
       (3,'sup3',0149875624);

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__Supplier__8390B19036A599C6'. Cannot insert duplicate key in object 'dbo.Supplier'. The duplicate key value is (1).

In [9]:
create Table Product
(
    Product_id INT NOT NULL,
    Product_name varchar(100) NOT NULL,
    Product_price INT NOT NULL,
    Product_quantity INT DEFAULT 0 NOT NULL,
    Product_type varchar(100) NOT NULL,
    Supplier_id INT NOT NULL,
    PRIMARY KEY(Product_id),
    FOREIGN KEY(Supplier_id) REFERENCES Supplier(Supplier_id)
);

In [10]:
INSERT dbo.Product (Product_id,Product_name,Product_price,Product_quantity,Product_type,Supplier_id)
VALUES (1,'Colgate',20,254,'Hygiene',1),
       (2,'Coke',15,657,'Beverage',2),
       (3,'Redbull',50,540,'Beverage',2),
       (4,'Gums',12,150,'Confections',2),
       (5,'Shampoo',100,400,'Hygiene',1),
       (6,'Sandwich',28,451,'Food',2),
       (7,'Ointment',29,360,'Medicine',3),
       (8,'Water',7,390,'Beverage',2),
       (9,'Chips',20,482,'Snack',2),
       (10,'Soap',49,140,'Hygiene',2),
       (11,'Ice-cream',15,206,'Snack',2),
       (12,'Painkiller',69,50,'Medicine',3),
       (13,'Sausage',35,167,'Food',2),
       (14,'Anti-perspirant',100,359,'Hygiene',1),
       (15,'Paracetamol',165,30,'Medicine',3),
       (16,'Burger',42,36,'Food',2),
       (17,'Bread',24,128,'Food',2);

In [34]:
create Table Customer
(
    customer_id INT NOT NULL,
    customer_name varchar(100) NOT NULL,
    customer_age INT NOT NULL,
    customer_phone INT NOT NULL,
    customer_address varchar(100) NOT NULL,
    PRIMARY KEY(customer_id)
);

In [35]:
INSERT dbo.Customer (customer_id,customer_name,customer_age,customer_phone,customer_address)
Values (1,'Teetawat Plengnam',17,0213654987,'Ramkamhang 36'),
       (2,'Panuwat Jitdaeha',20,0987412645,'Ladprao 12'),
       (3,'Jittaradej JanoCha',18,066645213,'Ratchada 36');

In [25]:
create Table Employee
(
    employee_id INT NOT NULL,
    employee_name varchar(100) NOT NULL,
    employee_age INT NOT NULL,
    employee_phone INT NOT NULL,
    employee_address varchar(100) NOT NULL,
    employee_dob date NOT NULL,
    employee_salary INT NOT NULL
);

In [26]:
INSERT dbo.Employee (employee_id,employee_name,employee_age,employee_phone,employee_address,employee_dob,employee_salary)
Values (1,'Tess Vanessa',29,0542163498,'Petchaburi 3','1992-12-11',12000),
       (2,'Marybeth Iveta',27,0417895421,'Praramkao 12','1994-05-07',10000);

In [51]:
create Table Buy
(
    purchase_id INT NOT NULL,
    product_ids text NOT NULL,
    c_id INT NOT NULL,
    total_price INT NOT NULL,
    PRIMARY KEY(purchase_id),
    FOREIGN KEY(c_id) REFERENCES Customer(customer_id)
);

In [53]:
INSERT dbo.Buy (purchase_id,product_ids,c_id,total_price)
Values (1,'2,5,11',1,130),
       (2,'8,1',1,27),
       (3,'10,7,5',2,178),
       (4,'17,14,7',3,153);

Queries

1.What food are there in the product database?

In [25]:
Select Product_name
from Product
where Product_type = 'Food';

Product_name
Sandwich
Sausage
Burger
Bread

2.What is the most expensive item in the product database?

In [26]:
select Product_name,Product_price from Product
where Product_price IN(
    select MAX(Product_price) from Product
);

Product_name,Product_price
Paracetamol,165

3\. Similar to 2. , What is the cheapest item in the product database?

In [27]:
select Product_name,Product_price from Product
where Product_price In(
    select MIN(Product_price) from Product
);

Product_name,Product_price
Water,7

4.Which product type has the most product?

In [28]:
select Product_type from Product
where Product_quantity IN(
    select MAX(Product_quantity) from Product
);

Product_type
Beverage

5\. What's the average age of customer?

In [29]:
select AVG(customer_age) as Average_age from Customer;

Average_age
18

6\. Yesterday, Mr.Teetawat bought some thing from our shop. He forgot what he bought and he lost the reciept but he remembers that the total price is 130. What items did Mr.Teetwat bought?

In [30]:
select product_ids 
from Buy
where total_price = 130 and c_id = 1;

product_ids
"2,5,11"

7\. Which customer has the highest total price in one buy?

In [31]:
select customer_name from Customer
where customer_id IN(
select c_id from Buy
where total_price IN (
    select MAX(total_price) from Buy
));

customer_name
Panuwat Jitdaeha

8\. Which product in the Beverage type is the most expensive?

In [32]:
select Product_name from Product
where Product_price IN(
    select MAX(Product_price) from Product
    where Product_type = 'Beverage'
);

Product_name
Redbull

9\. What's the average salary for the Employee?

In [33]:
select AVG(Employee_salary) from Employee;

(No column name)
11000

10\. What's Tess (an Employee) birthday?

In [34]:
select Employee_dob from Employee
where Employee_name = 'Tess Vanessa';

Employee_dob
1992-12-11

11\. What's the difference between the highest price product and the lowest price product?

In [35]:
select Max(Product_price) - Min(Product_price)
from Product;

(No column name)
158