In [1]:
create DATABASE University_Krasin_6210545416

In [2]:
use University_Krasin_6210545416;

In [20]:
 create table classroom
    (building varchar (15), 
    room_number varchar(7), 
    capacity numeric (4,0), 
    primary key (building, room_number));

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'classroom' in the database.

In [6]:
 create table department
    (dept_name varchar (20), 
    building varchar (15), 
    budget numeric (12,2) check (budget > 0), 
    primary key (dept_name));

In [7]:
 create table course
    (course_id varchar(8), 
    title varchar(50), 
    dept_name varchar(20), 
    credits numeric (2,0) check (credits > 0), 
    primary key (course_id), 
    foreign key (dept_name) references department);

In [8]:
 create table instructor
    (ID varchar (5),
     name varchar (20) not null,
     dept_name varchar (20), 
     salary numeric (8,2) check (salary > 29000), 
     primary key (ID), 
     foreign key (dept_name) references department);

In [9]:
 create table section
    (course_id varchar(8), 
    sec_id varchar(8), 
    semester varchar(6) check (semester in ('Fall', 'Winter', 'Spring', 'Summer')),
    year numeric (4,0) check (year > 1759 and year <2100),
    building varchar (15), 
    room_number varchar(7), 
    time_slot_id varchar(4), 
    primary key (course_id, sec_id, semester, year), 
    foreign key (course_id) references course, 
    foreign key (building, room_number) references classroom);

In [10]:
 create table student
    (ID varchar(5),
    name varchar(20),
    dept_name varchar(20),
    tot_cred NUMERIC(3,0) check (tot_cred >=0),
    PRIMARY KEY (ID),
    FOREIGN KEY (dept_name) REFERENCES department on delete set null);

In [11]:
 CREATE TABLE takes
    (ID varchar(5),
    course_id varchar(8), 
    sec_id varchar(8), 
    semester varchar(6),
    year numeric (4,0),
    grades varchar(2),
    primary key (ID, course_id, sec_id, semester, year), 
    foreign key (course_id, sec_id, semester, year) references section on delete cascade, 
    FOREIGN key (ID) REFERENCES student on DELETE CASCADE);

In [12]:
 CREATE TABLE advisor
    (s_ID varchar(5),
    i_ID varchar(5),
    PRIMARY KEY(s_ID),
    FOREIGN key (i_ID) REFERENCES instructor(ID) on DELETE set null,
    FOREIGN key (s_ID) REFERENCES student(ID) on DELETE CASCADE);

In [13]:
 CREATE TABLE prereq
    (course_id varchar(8),
    prereq_id varchar(8),
    PRIMARY KEY(course_id, prereq_id),
    FOREIGN KEY(course_id) REFERENCES course on DELETE CASCADE,
    FOREIGN KEY(prereq_id) REFERENCES course);

In [22]:
INSERT dbo.classroom
    (building,room_number,capacity)
VALUES
    ('IUP', '201', '120'),
    ('Comp. Service', '504', '40'),
    ('Learning center', '304', '30'),
    ('Physics 1', '101', '40'),
    ('Physics 2', '102', '40')

In [23]:
INSERT dbo.department
    (dept_name,building,budget)
VALUES
    ('Biology', 'Physics 1', '100000'),
    ('History', 'Learning center', '90000'),
    ('Elec. Eng.', 'Learning center', '90000'),
    ('Comp. Sci.', 'Comp. Service', '150000'),
    ('Music', 'Comp. Service', '75000'),
    ('Finance', 'IUP', '100000'),
    ('Physics', 'Physics 2', '100000')

In [25]:
INSERT dbo.course
    (course_id,title,dept_name,credits)
VALUES
    ('BIO-101', 'Introduction to Biology', 'Biology', '4'),
    ('BIO-201', 'Human Genetics', 'Biology', '4'),
    ('BIO-301', 'Computational Biology', 'Biology', '4'),
    ('CS-101', 'Introduction to Computer Science', 'Comp. Sci.', '4'),
    ('CS-110', 'Game Designing', 'Comp. Sci.', '3'),
    ('CS-210', 'Robotics Calculation', 'Comp. Sci.', '3'),
    ('CS-320', 'Image Processing', 'Comp. Sci.', '3'),
    ('CS-450', 'Database Management System', 'Comp. Sci.', '3'),
    ('EE-121', 'Introduction to Digital Systems', 'Elec. Eng.', '3'),
    ('FIN-159', 'Investment in Stock', 'Finance', '3'),
    ('HIS-351', 'History of the World', 'History', '3'),
    ('MU-289', 'Music Video concept', 'Music', '3'),
    ('PHY-173', 'Physical Experiments', 'Physics', '4')

In [26]:
INSERT dbo.instructor
    (ID,name,dept_name,salary)
VALUES
    ('10111', 'Santisak', 'Comp. Sci.', '65000'),
    ('12120', 'Herbert', 'Finance', '50000'),
    ('15010', 'Singtho', 'Music', '40000'),
    ('23410', 'Tum', 'Physics', '60000'),
    ('32333', 'Somsak', 'History', '40000'),
    ('32456', 'Smarn', 'Physics', '77000'),
    ('41525', 'Jitti', 'Comp. Sci.', '60000'),
    ('58038', 'Nok', 'History', '45000'),
    ('66043', 'Chayapon', 'Finance', '50000'),
    ('75621', 'Thorn', 'Biology', '70000'),
    ('88593', 'Tae', 'Comp. Sci.', '83000'),
    ('95974', 'Pooh', 'Elec. Eng.', '70000')

In [27]:
INSERT dbo.section
    (course_id,sec_id,semester,year,building,room_number,time_slot_id)
VALUES
    ('BIO-101', '1', 'Summer', '2009', 'Physics 2', '102', 'B'),
    ('BIO-201', '1', 'Summer', '2010', 'Physics 1', '101', 'A'),
    ('PHY-173', '1', 'Fall', '2009', 'Physics 1', '101', 'A'),
    ('CS-101', '1', 'Fall', '2009', 'Comp. Service', '504', 'H'),
    ('CS-101', '1', 'Spring', '2010', 'Comp. Service', '504', 'F'),
    ('CS-110', '1', 'Spring', '2009', 'Comp. Service', '504', 'E'),
    ('CS-110', '2', 'Spring', '2009', 'Comp. Service', '504', 'A'),
    ('CS-210', '1', 'Spring', '2010', 'Comp. Service', '504', 'D'),
    ('CS-320', '1', 'Spring', '2010', 'Comp. Service', '504', 'B'),
    ('CS-320', '2', 'Spring', '2010', 'Comp. Service', '504', 'C'),
    ('MU-289', '1', 'Spring', '2010', 'Comp. Service', '504', 'D'),
    ('CS-450', '1', 'Fall', '2009', 'Learning center', '304', 'A'),
    ('EE-121', '1', 'Spring', '2009', 'Learning center', '304', 'C'),
    ('HIS-351', '1', 'Spring', '2010', 'Learning center', '304', 'C'),
    ('FIN-159', '1', 'Spring', '2010', 'IUP', '201', 'B')

In [30]:
INSERT dbo.student
    (ID,name,dept_name,tot_cred)
VALUES
    ('01112', 'Levi', 'Comp. Sci.', '102'),
    ('11598', 'Hange', 'Comp. Sci.', '32'),
    ('19871', 'Armin', 'History', '80'),
    ('21000', 'Mikasa', 'Finance', '110'),
    ('46969', 'Eren', 'Physics', '56'),
    ('48420', 'Reiner', 'Physics', '46'),
    ('54102', 'Connie', 'Comp. Sci.', '54'),
    ('56987', 'Sasha', 'Music', '38'),
    ('70550', 'Mike', 'Physics', '0'),
    ('76420', 'Erwin', 'Comp. Sci.', '58'),
    ('78777', 'Kiyomi', 'Elec. Eng.', '60'),
    ('94231', 'Petra', 'Elec. Eng.', '98'),
    ('97499', 'Annie', 'Biology', '120')

In [33]:
INSERT dbo.takes
    (ID,course_id,sec_id,semester,year,grades)
VALUES
    ('01112', 'CS-101', '1', 'Fall', '2009', 'A'),
    ('01112', 'CS-450', '1', 'Fall', '2009', 'A-'),
    ('11598', 'CS-101', '1', 'Fall', '2009', 'C'),
    ('11598', 'CS-110', '2', 'Spring', '2009', 'A'),
    ('11598', 'CS-210', '1', 'Spring', '2010', 'A'),
    ('11598', 'CS-450', '1', 'Fall', '2009', 'A'),
    ('19871', 'HIS-351', '1', 'Spring', '2010', 'B'),
    ('21000', 'FIN-159', '1', 'Spring', '2010', 'C+'),
    ('46969', 'PHY-173', '1', 'Fall', '2009', 'B-'),
    ('48420', 'CS-101', '1', 'Fall', '2009', 'F'),
    ('48420', 'CS-101', '1', 'Spring', '2010', 'B+'),
    ('48420', 'CS-320', '1', 'Spring', '2010', 'B'),
    ('54102', 'CS-101', '1', 'Fall', '2009', 'A-'),
    ('54102', 'CS-110', '2', 'Spring', '2009', 'B+'),
    ('56987', 'MU-289', '1', 'Spring', '2010', 'A-'),
    ('76420', 'CS-101', '1', 'Fall', '2009', 'A'),
    ('76420', 'CS-320', '2', 'Spring', '2010', 'A'),
    ('78777', 'EE-121', '1', 'Spring', '2009', 'C'),
    ('94231', 'CS-101', '1', 'Fall', '2009', 'C-'),
    ('94231', 'CS-210', '1', 'Spring', '2010', 'B'),
    ('97499', 'BIO-101', '1', 'Summer', '2009', 'A'),
    ('97499', 'BIO-201', '1', 'Summer', '2010', null)

In [35]:
INSERT dbo.advisor
    (s_ID,i_ID)
VALUES
    ('01112', '41525'),
    ('11598', '10111'),
    ('21000', '66043'),
    ('46969', '23410'),
    ('48420', '23410'),
    ('76420', '41525'),
    ('78777', '95974'),
    ('94231', '95974'),
    ('97499', '75621')

In [36]:
INSERT dbo.prereq
    (course_id,prereq_id)
VALUES
    ('BIO-201', 'BIO-101'),
    ('BIO-301', 'BIO-101'),
    ('CS-110', 'CS-101'),
    ('CS-210', 'CS-101'),
    ('CS-320', 'CS-101'),
    ('CS-450', 'CS-101'),
    ('EE-121', 'PHY-173')